INTERNAL_KEY=some_random_key

# Services
GATEWAY_PORT=3000
GATEWAY_HOST=http://localhost

AUTH_HOST=http://localhost
AUTH_PORT=3001

# Database - PostgreSQL
POSTGRES_USER=pg-admin
POSTGRES_PASSWORD=pg-password
POSTGRES_DB=matcha
POSTGRES_PORT=5432

# PostgreSQL Connection String
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public