
# Specify the environment (development, production, etc.)
# Most of security-related settings depend on the environment.
NODE_ENV=development
SECURE=false # In production, set this to true to enforce HTTPS and other security measures

FRONTEND_URL=http://localhost
FRONTEND_PORT=4000

# Internal key for inter-service communication (should be kept secret and secure)
# Just gateway can use this to access microserivces
INTERNAL_KEY=some_random_key

# Services
GATEWAY_PORT=3000
GATEWAY_HOST=http://localhost

AUTH_HOST=http://localhost
AUTH_PORT=3001

NOTIFICATION_HOST=http://localhost
NOTIFICATION_PORT=3002

# Set the timezone for the application (e.g., for logging and scheduling)
# it's used also in the database connection to ensure that timestamps are stored in the correct timezone.
TZ=Europe/Rome

# Database - PostgreSQL
POSTGRES_USER=pg-admin
POSTGRES_PASSWORD=pg-password
POSTGRES_DB=matcha
POSTGRES_PORT=5432

# PostgreSQL Connection String
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public

# JWT Configuration
JWT_ACCESS_SECRET=your_access_token_secret
JWT_ACCESS_EXPIRATION=15m
JWT_ACCESS_EXPIRATION_MS=900000 # 15 minutes in milliseconds
JWT_REFRESH_SECRET=your_refresh_token_secret
JWT_REFRESH_EXPIRATION=7d
JWT_REFRESH_EXPIRATION_MS=604800000 # 7 days in milliseconds

# SMTP Configuration for sending emails (e.g., for email verification)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# EMAIL Verification
EMAIL_VERIFICATION_TOKEN_LENGTH=8
EMAIL_VERIFICATION_EXPIRATION=1h
EMAIL_VERIFICATION_EXPIRATION_MS=3600000 # 1 hour in milliseconds
EMAIL_VERIFICATION_MAX_ATTEMPTS=3

# Forgot Password
FORGOT_PASSWORD_TOKEN_LENGTH=12
FORGOT_PASSWORD_EXPIRATION=1h
FORGOT_PASSWORD_EXPIRATION_MS=3600000 # 1 hour in milliseconds
FORGOT_PASSWORD_MAX_ATTEMPTS=3

# Github OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback